body {
    width: 1728px;
    height: 5391px;
    margin: 0;
    background: #f4f5f7;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins' , sans-serif;
    font-weight: 400;
}

h1 {
    color: #424B5A;
    font-size: 60px;
    margin: 400px;
    text-align: center;
}

.card {
    display: grid;
    grid-template-columns:1000px;
    grid-template-rows: 1000px, 1000px, 1000px;
    grid-template-areas: "image" "text";

    font-family: poppins;
    border-radius: 20px;
    background: white;
    box-shadow: 5px, 5px, 15px rgba(0,0,0,0.9);
    text-align: center;
}

.card-image {
    grid-area: image;
}

.card-text {
    grid-area: text;
}


.round {
    background-color: #739dd3;
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 115px;
}


.container {
    width: 70%;
    margin: 0 auto;
}


header {
    background: #ffffff;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0; 
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px; 

    position: relative;
}

nav a {
    color: #424B5A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
}

nav a:hover {
    color: #739DD3;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #739dd3;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms; 
}

nav a:hover::before {
    width: 100%;
}

.button {
    background-color: #424B5A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

.footer-container {
    background-color: #ffffff;
    padding: 4rem 0 4rem 0; 
}

.footer {
    width: 100%;
    height: 40vh;
    background-color: #ffffff;
    color: #9a9a9a;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h3 {
    margin-bottom: 1rem;
}

.footer-heading a {
    color: #424B5A;
    text-decoration: none;
    margin-bottom: 1.5rem;
    font-size: 22px;
}

.footer-heading a:hover {
    color: #739DD3;
    transition: 0.3s ease-out;
}